<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="large">
  <button class="menu-icon" type="button" data-toggle="example-menu"></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="example-menu">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Vegissimo</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <li><%= link_to 'Search', queries_path(search_id: params[:search_id]) %></li>
      <% if user_signed_in? %>
        <li>
          <%= link_to 'Dashboard', dashboard_path(search_id: params[:search_id]) %>
        </li>
        <li>
          <%= link_to 'Sign out', destroy_user_session_path(search_id: params[:search_id]), method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to 'Sign in', new_user_session_path(search_id: params[:search_id]) %>
        </li>
        <li>
          <%= link_to 'Sign up', new_user_registration_path(search_id: params[:search_id]) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>